@model Nutricionista.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            Edad
        </dt>
        <dd class="col-sm-10">
            @Model.CalcularEdad()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class="col-sm-2">
            IMC
        </dt>
        <dd class="col-sm-10">
            @Model.CalcularIMC().ToString("F2")
        </dd>
        <dt class="col-sm-2">
            Categoría IMC
        </dt>
        <dd class="col-sm-10">
            <span style="color:@Model.ObtenerColorCategoriaIMC();">
                @Model.ObtenerCategoriaIMC()
            </span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
